[Unit]
Description=Green NGINX server in cyan pod
Requires=cyan.pod
After=cyan.pod

[Container]
Image=nginx:latest
Pod=cyan.pod
Volume=cyan-app.volume:/srv/app/data

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target