[Unit]
Description=MySQL Database for Cyan Pod
Requires=cyan.pod
After=cyan.pod

[Container]
Image=mysql:latest
Pod=cyan.pod
Volume=webapp-db.volume:/var/lib/mysql

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target