{   
    servers {
        protocols h1 h2 h2c h3
        strict_sni_host
        timeouts {
            read_body 10s
            read_header 5s
            write 30s
            idle 120s
        }
    }
}

(blue) {
	reverse_proxy localhost:8081
}

(green) {
	reverse_proxy localhost:8082
}

# HTTP to HTTPS redirect
http:// {
	redir https://{host}{uri} permanent
	log
}

# WWW redirect
https://www.cyan.internal {
	redir https://cyan.internal{uri} permanent
	log
}

# Main services on the custom network
https://cyan.internal {
    encode gzip zstd
	import green
	log
}

https://static.cyan.internal {
    root * /static
    encode gzip zstd
    file_server {
        precompressed gzip
    }
    
    header Cache-Control "public, max-age=31536000"
    
    log {
        output discard  # static files don't need logging usually
    }
}