{   
    servers {
        protocols h1 h2 h2c h3
        strict_sni_host
        timeouts {
            read_body 10s
            read_header 5s
            write 30s
            idle 120s
        }
    }
}

import conf.d/*