{
	admin unix//run/admin.sock
}

# HTTP to HTTPS redirect
http:// {
	redir https://{host}{uri} permanent
	log
}

# WWW redirect
https://www.cyan.internal {
	redir https://cyan.internal{uri} permanent
	log
}

# Main services on the custom network
https://cyan.internal {
	reverse_proxy systemd-cyan-blue:8081
	log
}

https://static.cyan.internal {
	root * /static
	file_server
	log
}