[Unit]
Description=Database for Cyan Pod
Requires=cyan.pod
After=cyan.pod

[Container]
Image=docker.io/library/postgres:alpine
Pod=cyan.pod
Environment=POSTGRES_USER=base
Environment=POSTGRES_PASSWORD=base
Volume=cyan-db.volume:/var/lib/postgresql

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target