[Unit]
Description=MySQL Database for Cyan Pod
Requires=cyan.pod
After=cyan.pod

[Container]
Image=docker.io/library/mysql:latest
Pod=cyan.pod
Environment=MYSQL_ROOT_PASSWORD=cyan123
Volume=cyan-db.volume:/var/lib/mysql

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target