[Unit]
Description=NGINX Reverse Proxy in cyan pod
Requires=cyan.pod
After=cyan.pod

[Container]
Image=docker.io/library/nginx:latest
Pod=cyan.pod
Volume=cyan-proxy.volume:/etc/nginx

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target