[Unit]
Description=Blue NGINX server in cyan pod
Requires=cyan.pod
After=cyan.pod

[Container]
Image=localhost/cyan-app:blue
Pod=cyan.pod
Volume=cyan-app.volume:/srv/app/data
Environment=PORT=8081

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target