[Unit]
Description=Blue app server in cyan pod
Requires=cyan.pod
After=cyan.pod

[Container]
Image=docker.io/traefik/whoami:v1.11
Pod=cyan.pod
Volume=cyan-app.volume:/srv/app/data
Environment=WHOAMI_PORT_NUMBER=8081
Environment=WHOAMI_NAME=BLUE

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target